@{
    ViewData["Title"] = "AboutUS Page";
}

<div class="text-center">
    <div class="about-section">
        <h1 style="font-family:'Times New Roman', Times, serif">About Us Page</h1>
        <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">World premium shoes company from 1999</p>
        <p>Hold more the thousand style</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div>
        <div>
            <div>
                <div>
                    <h2>Nirmeet Pansuriya</h2>
                    <p>CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Nirmeet@example.com</p>
                    <p><button>Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                                <div>
                    <h2>Manoj Pansuriya</h2>
                    <p>Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Manoj@example.com</p>
                    <p><button>Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">

                <div>
                    <h2>Nisarg Patel</h2>
                    <p>Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Nisarg@example.com</p>
                    <p><button>Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
