@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Andy's Footwear</h1>
    <p>A premimum Shoes Company of World</a>.</p>
    <h2 style="font-size:200px">ND</h2>
</div>
